[Unit]

Description=Water Tank Sensor Monitor Script

After=default.target

[Service]

ExecStart=/usr/local/bin/sensor_monitor.rb

[Install]

WantedBy=default.target