[Unit]
After=couchdb.service

[Service]
ExecStart=ruby /usr/local/bin/monitor
ExecStartPre="systemctl is-active --quiet couchdb"

[Install]
WantedBy=default.target
RequiredBy=network.target
